<html>
  <head>
    <title>Loading time</title>
  </head>
  <body>
    <h1>Loading time for all applications</h1>
    <table>
      <thead>
        <tr>
          <th>Number</th>
          <th>App</th>
          <th>Platfrom</th>
          <th>Device</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
        {% for row in data %}
        <tr>
          <td>{{ row[0] }}</td>
          <td>{{ row[1] }}</td>
          <td>{{ row[2] }}</td>
          <td>{{ row[4] }}</td>
          <td>{{ row[3] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>