<html>
  <head>
    <title>RAM usage</title>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
  </head>
  <body>
    <h1>RAM usage for all applications</h1>

    <table>
      <thead>
        <tr>
          <th>App</th>
          <th>Platfrom</th>
          <th>Device</th>
          <th>Before actions RAM</th>
          <th>After actions RAM</th>
          <th>Maximum RAM</th>
        </tr>
      </thead>
      <tbody>
        {% for row in data %}
        <tr>
          <td>{{ row[1] }}</td>
          <td>{{ row[2] }}</td>
          <td>{{ row[6] }}</td>
          <td>{{ row[3] }}</td>
          <td>{{ row[4] }}</td>
          <td>{{ row[5] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>